/* Basic styling for the homework */

body {
    font-family:'Poppins', Arial, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #4a148c;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #a04d0a;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    margin-top: 20px;
}
